.buildpath
.project
.settings/
.idea/
app/application/configs/db.ini
app/application/configs/dbs
app/public/assets/cache/*
app/public/assets/miniatures/*
app/public/assets/applications/*
app/public/assets/images/*
app/public/assets/editions/*
app/public/assets/captcha/*
app/public/assets/press/*
app/public/assets/partners/*
app/public/.htaccess
app/cache/*
app/log/*.log            
app/library/Zefir/*
app/library/Zefir
*.kdev4
