.buildpath
.project
.settings/
app/public/assets/cache/
app/public/assets/miniatures/
app/public/assets/applications/
app/public/assets/images/
app/public/assets/editions/
app/public/.htaccess
app/cache/*
app/log/*.log            
app/library/Zefir/*
app/library/Zefir
