@charset "UTF-8";

* { margin: 0; padding: 0; }

::-moz-selection{ background: rgba(0,221,179,0.8); color:#222; text-shadow: none; }
::selection { background:rgba(0,221,179,0.8); color:#222; text-shadow: none; }

html {
background-color: #fff;

}

body {
	font-family: 'Myriad Pro', helvetica, arial, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: #333;
	background-color: white;
	min-width: 1000px;
	overflow-y: scroll;
	margin: 0 auto;
}

header, menu, nav { display: block; }



#header {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 40px;
	background-color: #000000;
}
.header {
	clear: both;
	background-color: #000;
	width: 100%;
	margin-bottom: 40px;
	text-align: left;
}
.logo {
	text-align: left;
	margin-bottom: 5px;
	width: 1000px;
	padding-top: 25px;
	padding-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
}
.top-menu {
	margin-right: auto;
	margin-left: auto;
	width: 1000px;
	text-align: left;
	display: block;
}


nav {
	-webkit-transition: opacity 700ms;
	-moz-transition: opacity 700ms;
	-o-transition: opacity 700ms;
	height: 28px;
	overflow: hidden;
	background: white;
	-moz-transition: opacity 0.7s;
	-webkit-transition: opacity 0.7s;
	-o-transition: opacity 0.7s;
	margin-bottom: 60px;
	float: left;
}

menu {
	width: 220px;
	height: 28px;
	float: left;
	margin-right: 30px;
	font-family: helvetica, arial, sans-serif;
}

menu:hover menu, menu:focus menu {
	height: 250px;
	-webkit-transition: height 900ms;
	-moz-transition: height 900ms;
	-o-transition: height 900ms;
}

menu a, menu a:visited, .menu_label {
	font-size: 11px;
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
	text-decoration: none;
	background-color: rgba(0,221,179,0.9);
	height: 28px;
	line-height: 29px;
	color: #fff;
	display: block;
	-webkit-transition: background-color 900ms;
	-moz-transition: background-color 900ms;
	-o-transition: background-color 900ms;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 10px;
}

menu a:active {
	top: 0;
	color: #fff;
	opacity: 0.5;
}

menu a:hover, menu a:focus, .menu_label:hover, .menu_label:focus {
	text-decoration: none;
	background: rgba(10, 10, 10, 0.9);
	-webkit-transition: all 0ms;
	-moz-transition: all 0ms;
	-o-transition: all 0ms;
}
menu a span, .menu_label span      {
	float: right;
	font-size: 15px;
	font-family: helvetica, arial, sans-serif;
	position: relative;
	top: -2px;
	left: 0;
}

menu a span, .menu_label span {
	-webkit-transition: -webkit-transform 700ms;
	-moz-transition: -moz-transform 700ms;
	-o-transition: -o-transform 700ms;
}
menu:hover a span, .button span, menu a span.rotate, menu:hover p.menu_label span {
	-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);  
	-webkit-transition: -webkit-transform 700ms;
	-moz-transition: -moz-transform 700ms;
	-o-transition: -o-transform 700ms;
	top: 0;
	left: 2px;
}

menu a:first-child, .menu_label {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

menu:hover a:first-child, menu:hover .menu_label {
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

menu:hover menu a:last-child {
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.menu_label {
	padding: 0px 5px 0px 5px;
	margin: 0px;
}

.menu_label:hover {
	cursor: pointer;
}

menu menu {
	width: 220px;
	height: 0;
	overflow: hidden;
	float: none;
	margin-right: 0;
	position: absolute;
	z-index: 100;
	-webkit-transition: height 700ms;
	-moz-transition: height 700ms;
	-o-transition: height 700ms;
	padding-top: 0px;
}

menu menu a {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

menu menu a:first-child {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

menu menu a:last-child {
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}
.menu-srodek   .nieaktywna {
	cursor: default;
}

#main {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin-bottom: 0px;
	padding-top: 0px;
	clear: both;
	background-color: 00ddb3;
	padding-bottom: 20px;
}

.news {
	text-align: left;
	margin-bottom: 30px;
	padding-bottom: 30px;
	width: 220px;
	float: left;
	margin-right: 30px;
}

img, a img {
	border: none;
	outline: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

a img:hover {
	-webkit-border-radius:20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.dyplom {
	display: block;
	float: left;
	width: 470px;
	margin-right: 30px;
	margin-left: 0px;
}

.galeria {
	display: block;
	float: left;
	width: 470px;
	margin-right: 30px;
}
.zdjecie {
	margin-bottom: 30px;
}

.galeria img, a img {
	border: none;
	outline: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.galeria a img:hover {
	border: none;
	outline: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.kategoria {
	width: 95px;
	margin-right: 30px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CCC;
	text-align: right;
}
.kategoria-edycja {
	width: 95px;
	margin-right: 30px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CCC;
	text-align: right;
	padding-top: 4px;
}
.kategoria-autor {
	width: 95px;
	margin-right: 30px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CCC;
	text-align: right;
	padding-top: 6px;
}

.kategoria-opis {
	width: 95px;
	margin-right: 30px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CCC;
	text-align: right;
}

.rzad {
	display: block;
	float: left;
	width: 470px;
	margin-right: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
}
.rzad-navi {
	display: block;
	float: left;
	width: 470px;
	margin-right: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 15px;
}
.back {
	float: left;
}
.forward {
	float: left;
	margin-left:30px;
}


.kraj {
	font-weight: normal;
	font-size: 14px;
}

.tresc-kategorii {
	display: block;
	float: left;
	width: 345px;
	margin-right: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
.tresc-opis {
	display: block;
	float: left;
	width: 345px;
	margin-right: 0px;
	color: #000;
	padding-top: 6px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgba(0,221,179,0.9);
	margin-top: 6px;
}
.tekst {
	color: #000;
	padding-top: 10px;
	display: block;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #3C9;
}

h1 {
	font-family: Helvetica, arial, sans-serif;
	font-size: 32px;
	line-height: 1.4;
	color: #000;
	-webkit-font-smoothing: antialiased;
	font-weight: normal;
}


h2 {
	font-family: 'Myriad Pro', helvetica, arial, sans-serif;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 17px;
	line-height: 1.4;
	color: #000;
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
}

h2 a {
	border-bottom: solid 2px transparent;
	-webkit-transition: background-color 300ms;
	-moz-transition: background-color 300ms;
	-o-transition: background-color 300ms;
}

h2 a:hover {
	-webkit-transition: background-color 300ms;
	-moz-transition: background-color 300ms;
	-o-transition: background-color 300ms;
	background-color: rgba(0,221,179,0.2);
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-style: normal;
	color: rgba(0,221,179,0.9);
	margin-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(0,221,179,0.9);
	padding-bottom: 2px;
}

h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	color: rgba(0,0,0,0.9);
	margin-bottom: 0px;
	font-weight: bold;
}
.data {
	font-family: helvetica, arial, sans-serif;
	margin-top: 5px;
	color: #333333;
	-webkit-transition: color 700ms;
	-moz-transition: color 700ms;
	-o-transition: color 700ms;
	margin-bottom: 15px;
	font-size: 10px;
}

p, ul, ol {
	font-family: helvetica, arial, sans-serif;
	margin-top: 5px;
	color: #666666;
	-webkit-transition: color 700ms;
	-moz-transition: color 700ms;
	-o-transition: color 700ms;
	font-weight: 100;
	font-size: 12px;
}
.news p {
	font-family: helvetica, arial, sans-serif;
	margin-top: 5px;
	color: #999999;
	-webkit-transition: color 700ms;
	-moz-transition: color 700ms;
	-o-transition: color 700ms;
	font-weight: 100;
	font-size: 11px;
}



a {color: #27c1a4; text-decoration: none; 
	-o-transition: color 300ms;-webkit-transition: color 300ms;-moz-transition: color 300ms;}
a:active, a:focus { outline: none; }
a:active { position: relative; top: 2px; }
a:visited { color: #1e9780;}
a:hover { cursor: pointer; text-decoration: underline; color: #2ee4c3; 
	-o-transition: color 300ms;-webkit-transition: color 300ms;-moz-transition: color 300ms;}
.navi-lang {
	display: block;
	float: right;
	text-align:right;
	width: 220px;
	height: 30px;
}

a.lang {
	display: block;
	overflow: hidden;
	background: #eee;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	-webkit-transition: background-color 500ms;
	-moz-transition: background-color 500ms;
	-o-transition: background-color 500ms;
	float: left;
	padding-top: 0;
	padding-right: 4px;
	padding-bottom: 0;
	padding-left: 4px;
	margin-left: 10px;
	width: 22px;
	line-height: 28px;
	text-align: center;
}
a.lang:hover {
	background-color: rgba(0,221,179,0.7);
}

a.lang-selected {
	display: inline-block;
	background-color: rgba(0,0,0,1);
	-webkit-transition: background-color 700ms;
	-moz-transition: background-color 700ms;
	-o-transition: background-color 700ms;
	font-weight: bold;
	color: #FFF;
}
a.lang-selected:hover {
	background-color: rgba(0,221,179,0.7);
	color: #FFF;
}


.wiecej {
	color: #000000;
	display: inline-block;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	height: 24px;
	width: 24px;
	background-color: #eeeeee;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	margin-top: 10px;
	-o-transition: background-color 300ms;
	-webkit-transition: background-color 300ms;
	-moz-transition: background-color 300ms;
}
.wiecej:hover {
	background-color: rgba(0,221,179,0.7);
	-o-transition: background-color 300ms;
	-webkit-transition: background-color 300ms;
	-moz-transition: background-color 300ms;
}
.selected    {
	color: #33CCFF;
}
.clear {
	clear: both;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	margin-top: 0px;
	margin-bottom: 0px;
}


#footer {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	margin-top: 40px;
	margin-bottom: 40px;
	float: none;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	width: 1000px;
	padding-top: 10px;
}
.paginator {
	display: block;
	float: left;
	text-align:left;
	width: 220px;
	height: 28px;
}

a.strona {
	display: block;
	overflow: hidden;
	background: #eee;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	line-height: 24px;
	-webkit-transition: background-color 500ms;
	-moz-transition: background-color 500ms;
	-o-transition: background-color 500ms;
	float: left;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	line-height: 28px;
	text-align: center;
}

a.strona:hover {
	background-color: rgba(0,221,179,0.7);
}

a.strona-selected {
	display: block;
	overflow: hidden;
	background: #000;
	color:#fff;
	font-weight: bold;
}

a.strona-selected:hover {
	background-color: rgba(0,221,179,0.7);
}

form {
	width: auto;
}

.label, #word_count {
	font-family: 'Myriad Pro', helvetica, arial, sans-serif;
	font-size: 14px;
}

input, textarea, select {
	border: 1px solid rgba(0,221,179,0.2);
	font-size: 14px;
	background-color: rgba(238,238,238,0.1);
}

textarea {
	width: 600px;
	height: 300px;
}

textarea.error, input.error, select.error {
	border: 3px solid #ca0000 !important;
	margin-bottom: 0px;
}

p.error {
	max-width: 406px;
	border: 0px solid #aa0000;
	color: #eee;
	font-weight: bold;
	margin-left: 0px;
	margin-top: -2px;
	font-size: 14px;
	text-align:right;
}

p.error span {
	background-color: #ca0000;
	padding: 3px;
	-webkit-border-bottom-left-radius: 5;
	-moz-border-radius-bottomleft: 5;
	border-bottom-left-radius: 5;
	-webkit-border-bottom-right-radius: 5;
	-moz-border-radius-bottomright: 5;
	border-bottom-right-radius: 5;
	
}

input.submit {
	font-family: 'Myriad Pro', helvetica, arial, sans-serif;
	padding: 5px;
	background-color: #eee;
	font-size: 14px;
}

fieldset.submit {
	border: 0px;
	margin: 20px 0px 0px 0px;
}

.width1 {
	width: 400px;
}

.width2 {
	width: 270px;
}


#flash {
   width: 100%;
   position: absolute;
   top: 0px;
   text-align: center;     
   display: none;
}
p.flash {
   background: #02be00;
   width: 300px;
   padding: 5px 0px 5px 0px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0px;
   font-family: "Palatino Linotype", Georgia, "Book Antiqua", Garamond, serif;
   font-size: 16px;
   -moz-border-radius-bottomright: 15px;
   -moz-border-radius-bottomleft: 15px;
   border-bottom-right-radius: 15px;
   border-bottom-left-radius: 15px;
}

p.img_hint {
   position: absolute;
   font-size: 10px;
   font-family: "Trebuchet MS", sans-serif;
   background: #fafafa;
   padding: 3px;
   border: 1px solid rgba(0,221,179,0.2);
   -moz-border-radius: 5px;
   border-radius: 5px;
   box-shadow: 3px 3px 10px 0px rgb(238,238,238);
   -webkit-box-shadow: 3px 3px 10px 0px rgb(238,238,238);
   -moz-box-shadow: 3px 3px 10px 0px rgb(238,238,238);
   text-align:left;
}

.admin {
	float: right;
}
.admin img{
	float: left;
}
span.admin {
	float: right;
}

#dialog_delete{
	visibility: hidden;
}

.ui-state-highlight {
	background: rgba(254,254,254, 0.5) !important; 
	border: 1px solid rgba(0,221,179,0.8) !important;
}
#new_paragraph{
	margin: 20px 0px 20px 0px;
	text-align: right;
}

.rule {
	padding: 3px;
	margin: 15px 0px;
	border-radius: 5px;
	border: 1px solid white;
}
.rule:hover {
	background: #f6faf9;
	border: 1px solid #f6faf9;	
}

.new_rule a {
	font-size: 24px;
	text-align: right;
	border-radius: 5px;
	padding: 5px;
	border: 1px solid rgb(208, 208, 208); 	/*#1e9780*/
	background-color: rgb(238, 238, 238);
	-o-transition: color background-color 300ms;
	-webkit-transition: color background-color 300ms;
	-moz-transition: color background-color 300ms;
}

.new_rule a:hover {
	background-color: #e4eeec;
	border: 1px solid #96a9a6;
	color: #27c1a4;
	-o-transition: color background-color 300ms;
	-webkit-transition: color background-color 300ms;
	-moz-transition: color background-color 300ms;
	text-decoration: none;
}
