@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

::-moz-selection {
	background: rgba(0, 221, 179, 0.8);
	color: #222;
	text-shadow: none;
}

::selection {
	background: rgba(0, 221, 179, 0.8);
	color: #222;
	text-shadow: none;
}

html {
	background-color: #fff;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: #333;
	background-color: white;
	min-width: 1000px;
	overflow-y: scroll;
	margin: 0 auto;
	text-align: center;
}

body.iframe {
	min-width: 460px !important;
}

.iframe form {
	width: 460px;
}

header,menu,nav {
	display: block;
}

header {
	overflow: hidden;
	margin-bottom: 49px;
}

.header {
	clear: both;
	background-color: #000;
	width: 100%;
	margin-bottom: 40px;
	text-align: left;
}

.logo {
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 11px;
	padding-top: 23px;
	text-align: left;
	width: 1000px;
}

.top-menu {
	margin-right: auto;
	margin-left: auto;
	width: 1000px;
	text-align: left;
	display: block;
	border: 0px solid yellow;
	overflow: hidden;
}

p.hr {
	width: 1000px;
	border: 0px solid yellow;
	margin: 0px auto 0px auto;
}

.hr span {
	display: block;
	border: 0px;
	border-top: 1px dashed rgb(203, 203, 203);
	clear: both;
	height: 0px;
	margin-right: 30px;
	width: 970px;
}

nav {
	-webkit-transition: opacity 700ms;
	-moz-transition: opacity 700ms;
	-o-transition: opacity 700ms;
	height: 28px;
	overflow: hidden;
	background: white;
	-moz-transition: opacity 0.7s;
	-webkit-transition: opacity 0.7s;
	-o-transition: opacity 0.7s;
	margin-bottom: 38px;
	float: left;
	z-index: 5;
}

menu {
	width: 220px;
	height: 28px;
	float: left;
	margin-right: 30px;
	font-family: Arial, Helvetica, sans-serif;
}

menu:hover menu,.open_menu {
	height: 250px;
	-webkit-transition: height 900ms;
	-moz-transition: height 900ms;
	-o-transition: height 900ms;
}

menu a,menu a:visited,.menu_label {
	font-size: 11px;
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
	text-decoration: none;
	background-color: rgba(0, 221, 179, 0.9);
	height: 28px;
	line-height: 29px;
	color: #fff;
	display: block;
	-webkit-transition: background-color 900ms;
	-moz-transition: background-color 900ms;
	-o-transition: background-color 900ms;
	padding-top: 0px;
	padding-right: 10px !important;
	padding-bottom: 0;
	padding-left: 10px !important;
}

menu a:active {
	top: 0;
	color: #fff;
	opacity: 0.5;
}

menu a:hover,menu a:focus,.menu_label:hover,.menu_label:focus {
	color: #fff;
	text-decoration: none;
	background: rgba(10, 10, 10, 0.9);
	-webkit-transition: all 0ms;
	-moz-transition: all 0ms;
	-o-transition: all 0ms;
}

menu a span,.menu_label span {
	float: right;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	top: -2px;
	left: 0;
}

menu a span,.menu_label span {
	-webkit-transition: -webkit-transform 700ms;
	-moz-transition: -moz-transform 700ms;
	-o-transition: -o-transform 700ms;
}

menu:hover a span,.button span,menu a span.rotate,menu:hover p.menu_label span
	{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-webkit-transition: -webkit-transform 700ms;
	-moz-transition: -moz-transform 700ms;
	-o-transition: -o-transform 700ms;
	top: 0;
	left: 2px;
}

menu a:first-child,.menu_label {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

menu:hover a:first-child,menu:hover .menu_label {
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

menu:hover menu a:last-child {
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.menu_label {
	padding: 0px 5px 0px 5px;
	margin: 0px;
}

.menu_label:hover {
	cursor: pointer;
}

menu menu {
	width: 220px;
	height: 0;
	overflow: hidden;
	float: none;
	margin-right: 0;
	position: absolute;
	z-index: 100;
	-webkit-transition: height 700ms;
	-moz-transition: height 700ms;
	-o-transition: height 700ms;
	padding-top: 0px;
}

menu menu a {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

menu menu a:first-child {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

menu menu a:last-child {
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

#main {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin-bottom: 0px;
	padding-top: 0px;
	clear: both;
	background-color: #fff;
	padding-bottom: 20px;
}

.news,.diploma {
	text-align: left;
	margin-bottom: 30px;
	padding-bottom: 30px;
	width: 220px;
	float: left;
	margin-right: 30px;
}

.dyplom,.application {
	display: block;
	float: left;
	width: 470px;
	margin-right: 30px;
	margin-left: 0px;
}

.diploma_gallery,.application_gallery {
	display: block;
	float: left;
	width: 470px;
	margin-right: 30px;
}

.diploma_gallery img,.application_gallery img {
	border: none;
	outline: none;
	width: 100%;
	margin-bottom: 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.diploma_field,.application_field {
	width: 95px;
	margin: 5px 30px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CCC;
	text-align: right;
	border: 0px solid;
}

.diploma_data,.application_data {
	border: 0px solid;
	color: #000;
	margin: 2px 0px 2px 125px;
	width: 345px;
	padding: 5px 0px 0px 0px;
}

.diploma_data:after {
	content: " ";
	height: 0px;
	display: block;
	clear: both;
}

.diploma_edition {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-style: normal;
	color: rgba(0, 221, 179, 0.9);
	margin-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(0, 221, 179, 0.9);
	padding: 0px 0px 6px 0px;
	font-weight: bold;
}

.work_desc {
	border-top-color: rgba(0, 221, 179, 0.898);
	border-top-style: solid;
	border-top-width: 1px;
	display: block;
	margin: 6px 0px 0px 125px;
	padding-top: 6px;
	width: 345px;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(51, 51, 51);
	font-size: 12px;
	font-style: normal;
	font-weight: 100;
	line-height: 20px;
	margin-top: 10px;
}

.index_author {
	color: rgba(0, 0, 0, 0.898);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 700;
	margin-bottom: 0px;
}

.index_author a {
	border-bottom: solid 2px transparent;
	-webkit-transition: background-color 300ms;
	-moz-transition: background-color 300ms;
	-o-transition: background-color 300ms;
}

.index_author a:hover {
	-webkit-transition: background-color 300ms;
	-moz-transition: background-color 300ms;
	-o-transition: background-color 300ms;
	background-color: rgba(0, 221, 179, 0.2);
}

.author {
	color: rgba(0, 0, 0, 0.898);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	margin-bottom: 0px;
}

.country {
	font-size: 14px;
	font-weight: 400;
}

.diploma_nav {
	height: 45px;
	margin: 27px 0px 0px 125px;
}

.diploma_nav a:first-child {
	margin-right: 27px;
}

.tekst {
	color: #000;
	padding-top: 10px;
	display: block;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #3C9;
}

a img {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

a:hover img {
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

h1 {
	color: rgb(0, 0, 0);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.4;
	margin-bottom: 20px;
	margin-top: 0px;
}

h2 {
	color: rgb(0, 0, 0);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: 700;
	line-height: 1.4;
	margin-bottom: 10px;
	margin-top: 11px;
}

h2 a {
	border-bottom: solid 2px transparent;
	-webkit-transition: background-color 300ms;
	-moz-transition: background-color 300ms;
	-o-transition: background-color 300ms;
}

h2 a:hover {
	-webkit-transition: background-color 300ms;
	-moz-transition: background-color 300ms;
	-o-transition: background-color 300ms;
	background-color: rgba(0, 221, 179, 0.2);
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-style: normal;
	color: rgba(0, 221, 179, 0.9);
	margin-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(0, 221, 179, 0.9);
	padding-bottom: 2px;
}

h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	color: rgba(0, 0, 0, 0.9);
	margin-bottom: 0px;
	font-weight: bold;
}

p,ul,ol {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	font-size: 12px;
	line-height: 20px;
	color: rgb(51, 51, 51);
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	margin-top: 10px;
}

.news p {
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 5px;
	color: #999999;
	-webkit-transition: color 700ms;
	-moz-transition: color 700ms;
	-o-transition: color 700ms;
	font-weight: 100;
	font-size: 11px;
	line-height: 20px;
}

.data {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	-webkit-transition: color 700ms;
	-moz-transition: color 700ms;
	-o-transition: color 700ms;
	margin-bottom: 15px;
	font-size: 10px;
	line-height: 20px;
}

.data-artykulu {
	border-bottom-color: rgb(203, 203, 203);
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	color: rgb(114, 114, 114);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-bottom: 15px;
	margin-right: 30px;
	margin-top: 5px;
	padding-bottom: 10px;
	width: 470px;
}

a {
	color: #000;
	text-decoration: none;
	-o-transition: color 300ms;
	-webkit-transition: color 300ms;
	-moz-transition: color 300ms;
}

a:active,a:focus {
	outline: none;
}

a:active {
	position: relative;
	top: 2px;
}

a:visited {
	color: #000;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
	color: #000;
	-o-transition: color 300ms;
	-webkit-transition: color 300ms;
	-moz-transition: color 300ms;
}

.navi-lang {
	display: block;
	float: right;
	text-align: right;
	width: 220px;
	height: 30px;
	margin-right: 10px;
}

a.lang {
	display: block;
	overflow: hidden;
	background: #eee;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	-webkit-transition: background-color 500ms;
	-moz-transition: background-color 500ms;
	-o-transition: background-color 500ms;
	float: left;
	padding-top: 0;
	padding-right: 4px;
	padding-bottom: 0;
	padding-left: 4px;
	margin-left: 10px;
	width: 21px;
	line-height: 28px;
	text-align: center;
}

a.lang:hover {
	background-color: rgba(0, 221, 179, 0.7);
	color: #000;
	text-decoration: none;
}

a.lang-selected {
	display: inline-block;
	background-color: rgba(0, 0, 0, 1);
	-webkit-transition: background-color 700ms;
	-moz-transition: background-color 700ms;
	-o-transition: background-color 700ms;
	font-weight: bold;
	color: #FFF;
}

a.lang-selected:hover {
	background-color: rgba(0, 221, 179, 0.7);
	color: #FFF;
}

.wiecej {
	color: #000000;
	display: inline-block;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	height: 24px;
	width: 24px;
	background-color: #eeeeee;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	margin-top: 10px;
	-o-transition: background-color 300ms;
	-webkit-transition: background-color 300ms;
	-moz-transition: background-color 300ms;
}

.wiecej:hover {
	background-color: rgba(0, 221, 179, 0.7);
	-o-transition: background-color 300ms;
	-webkit-transition: background-color 300ms;
	-moz-transition: background-color 300ms;
}

.selected {
	color: #33CCFF;
}

.clear {
	clear: both;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	margin-top: 0px;
	margin-bottom: 0px;
}

#footer {
	margin-top: 15px;
	margin-bottom: 40px;
	float: none;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	width: 1000px;
	padding-top: 10px;
}

#footer p {
	width: 970px;
	text-align: left;
	line-height: 20px;
	font-size: 12px;
	min-height: 20px;
	padding: 0px;
	border: 0px solid;
}

#footer p:first-child {
	border-top: 1px dashed #999999;
	padding-top: 19px;
	margin-bottom: 0px;
}

#footer p a {
	margin: 0px 0px 0px 0px;
	border: 0px solid #000;
}

#footer p a:first-child {
	margin-left: 0px;
}

#fund {
	margin-left: 0px;
	margin-right: 0px;
	float: right;
}

.footer-desc {
	font-weight: normal;
	font-size: 11px;
	font-style: normal;
	color: #666666;
	padding-left: 2px;
	display: block;
	clear: both;
}

.organizers_info {
	width: 150px;
	float: right;
	height: 85px;
	margin-top: -5px;
	text-align: left;
	font-size: 11px;
	line-height: 14px;
	color: #666666;
	padding-top: 10px;
	border: 0px solid #000;
	padding-left: 10px;
}

.media-partners {
	border-top: 1px dashed #999999 !important;
	padding-top: 4px !important;
	text-align: left !important;
}

.media-partners img {
	margin: 0px;
}

.media-partners a:hover img {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

.creator {
	margin-top: 35px;
}

.creator,.creator a {
	text-align: left;
	font-size: 10px !important;
	color: #999;
}

.bold {
	font-weight: bold;
}

.paginator {
	display: block;
	float: left;
	text-align: left;
	width: 220px;
	height: 28px;
}

a.strona {
	display: block;
	overflow: hidden;
	background: #eee;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	line-height: 24px;
	-webkit-transition: background-color 500ms;
	-moz-transition: background-color 500ms;
	-o-transition: background-color 500ms;
	float: left;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	line-height: 28px;
	text-align: center;
}

a.strona:hover {
	background-color: rgba(0, 221, 179, 0.7);
}

a.strona-selected {
	display: block;
	overflow: hidden;
	background: #000;
	color: #fff;
	font-weight: bold;
}

a.strona-selected:hover {
	background-color: rgba(0, 221, 179, 0.7);
}

form {
	width: auto;
}

dt {
	height: 0px;
}

.label,#word_count {
	font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 20px;
}

#word_count {
	font-size: 11px;
	font-weight: normal;
	margin-top: 0px;
}

.description {
	margin-top: 5px;
	font-size: 11px;
	margin-bottom: 20px;
}

input,textarea,select {
	border: 1px solid rgba(100, 100, 100, 0.2);
	font-size: 14px;
	height: 28px;
	background-color: rgba(238, 238, 238, 0.5);
	border-radius: 5px;
	margin: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0px 3px 0px 5px;
}

input:focus,textarea:focus,select:focus {
	border: 1px solid #00DDB3;
	-moz-box-shadow: inset 0 0 6px #00DDB3;
	-webkit-box-shadow: inset 0 0 6px #00DDB3;
	box-shadow: inset 0 0 4px #00DDB3;
}

input[type="file"],select {
	width: 100%;
	border: 0px;
}

input[type="checkbox"] {
	width: 15px;
	height: 15px;
	padding: 0px;
	margin: 0px 5px 5px 0px;
}

textarea {
	width: 450px;
	height: 300px;
	margin: 0px;
}

textarea.error,input.error,select.error,fieldset.error {
	border: 1px solid #ca0000 !important;
	margin-bottom: 0px;
	padding: 0px 3px 0px 5px;
	-webkit-border-radius: 5px;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius: 5px;
	-moz-border-radius-bottomright: 0;
	border-radius: 5px;
	border-bottom-right-radius: 0;
}

div.error-div {
	border: 0px solid green;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	width: 460px;
	text-align: left;
}

fieldset.error+div.error-div {
	width: 445px;
	margin-left: 32px;
}

#error-csrf p.error {
	text-align: left !important;
}

p.error {
	border: 0px solid #ca0000;
	color: #ca0000;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	text-align: right;
	line-height: 12px;
}

p.error span {
	background-color: #ca0000;
	padding: 0px 5px 0px 5px;
	margin: 0px;
	color: #eee;
	font-size: 12px;
	border: 0px solid #ca0000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

input.submit {
	font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
	padding: 5px;
	margin-right: 28px;
	background-color: #eee;
	font-size: 14px;
}

.fileField {
	margin-bottom: 20px;
}

.file_number {
	display: block;
	background: #eee;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	position: absolute;
	padding: 0 4px 0px 4px;
	margin: 0px 5px 20px 0px;
	width: 21px;
	line-height: 28px;
	text-align: center;
}

fieldset {
	display: block;
	width: 465px;
	min-height: 28px;
	font-size: 14px;
	border: 0px solid;
	background-color: rgba(238, 238, 238, 0.1);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 0px;
	margin: 0px 0px 20px 0px;
	text-align: left;
}

fieldset.fileFieldset {
	width: 435px;
	margin-left: 32px;
	text-align: right;
	border: 1px solid rgba(0, 221, 179, 0.2);
}

fieldset.submit {
	border: 0px;
	margin: 50px 28px 0px 0px;
	text-align: left;
}

fieldset.upload {
	border: 0px;
	margin: 20px 28px 0px 0px;
	text-align: left;
}

.width1 {
	width: 450px;
}

.wide {
	width: 700px;
}

.inline {
	width: 350px;
	height: 150px
}

select.width1 {
	width: 460px;
}

.width2 {
	width: 270px;
}

textarea.error+div.error-div {
	margin-top: -4px;
}

select.error+div.error-div {
	width: 460px;
}

div.checkbox {
	width: 452px;
	border: 0px solid;
	margin: 0px;
	padding: 0px 0px 0px 5px;
}

div.checkbox_error {
	border: 1px solid #ca0000;
	-webkit-border-radius: 5px;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius: 5px;
	-moz-border-radius-bottomright: 0;
	border-radius: 5px;
	border-bottom-right-radius: 0;
}

div.checkbox_error div.error-div {
	width: 452px;
	position: absolute;
	margin-top: 1px;
	margin-left: 1px;
}

#app_images {
	width: 460px;
	border: 0px solid;
	margin: 20px 0px 10px 0px;
}

#app_images div {
	width: 100px;
	display: block;
	float: left;
	margin: 2px;
	text-align: left;
}

#app_images a.form_file img {
	width: 100%;
}

.image_move {
	display: block;
	border: 1px solid rgba(0, 221, 179, 0.8);
	background: rgba(50, 50, 50, 0.1);
	overflow: hidden;
}

.lang_choice {
	list-style-type: none;
	text-align: right;
}

.lang_choice span {
	font-weight: bold;
	margin-right: 10px;
}

.lang_choice li {
	display: inline-block;
	background: rgba(0, 221, 178, 0.8);
	padding: 8px;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-radius: 5px;
}

.lang_choice li:hover {
	background: #000;
	cursor: pointer;
}

.lang_choice li.current {
	background: #000;
	cursor: default;
}

.lang_div {
	margin: 0px;
}

#flash {
	width: 100%;
	position: absolute;
	top: 0px;
	text-align: center;
	display: none;
}

p.flash {
	background: #02be00;
	width: 300px;
	padding: 5px 0px 5px 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	font-family: "Palatino Linotype", Georgia, "Book Antiqua", Garamond,
		serif;
	font-size: 16px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

p.img_hint {
	position: absolute;
	font-size: 10px;
	font-family: "Trebuchet MS", sans-serif;
	background: #fafafa;
	padding: 3px;
	border: 1px solid rgba(0, 221, 179, 0.2);
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 3px 3px 10px 0px rgb(238, 238, 238);
	-webkit-box-shadow: 3px 3px 10px 0px rgb(238, 238, 238);
	-moz-box-shadow: 3px 3px 10px 0px rgb(238, 238, 238);
	text-align: left;
}

.admin {
	float: right;
}

.admin img {
	float: left;
}

span.admin {
	float: right;
}

.editApplication {
	position: absolute;
	margin: 0px 0px 0px 442px;
	background: #fff;
	border: 1px solid rgb(0, 221, 179);
}

.editNews {
	position: absolute;
	margin: 0px 0px 0px 202px;
	background: #fff;
	border: 1px solid rgb(0, 221, 179);
}

.editNewsImage {
	position: absolute;
	margin: 0px 0px 0px 436px;
	background: #fff;
	border: 1px solid rgb(0, 221, 179);
}

#dialog_delete {
	visibility: hidden;
}

.ui-state-highlight {
	background: rgba(254, 254, 254, 0.5) !important;
	border: 1px solid rgba(0, 221, 179, 0.8) !important;
}

#new_paragraph,#new_question {
	margin: 20px 0px 20px 0px;
	text-align: right;
}

.rule,.question {
	padding: 3px;
	margin: 15px 0px;
	border-radius: 5px;
	border: 1px solid white;
}

.color:hover,.color:hover {
	background: #f6faf9;
	border: 1px solid #f6faf9;
}

.new_rule a,.new_question a {
	text-align: right;
	border-radius: 5px;
	border: 1px solid rgb(208, 208, 208); /*#1e9780*/
	background-color: rgb(238, 238, 238);
	-o-transition: color 300ms linear, background-color 300ms linear;
	-webkit-transition: color 300ms linear, background-color 300ms linear;
	-moz-transition: color 300ms linear, background-color 300ms linear;
	margin-right: 38px;
	font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
	padding: 5px;
	margin-right: 28px;
	background-color: #eee;
	font-size: 14px;
}

.new_rule a:hover,.new_question a:hover {
	background-color: #e4eeec;
	border: 1px solid #96a9a6;
	color: #27c1a4;
	text-decoration: none;
}

.question {
	color: rgb(51, 51, 51);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 100;
	line-height: 20px;
	margin-top: 10px;
}

.column-left,.column-right {
	display: block;
	float: left;
	margin-left: 0px;
	margin-right: 30px;
	padding-left: 0px;
	padding-top: 0px;
	width: 470px;
	border: 0px solid green;
}

.column-right:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0px;
	clear: both;
}

div.about {
	column-count: 2;
	column-gap: 30px;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	-moz-column-gap: 30px;
	margin-top: 0px;
}

p.about {
	color: rgb(51, 51, 51);
	font-size: 12px;
	line-height: 20px;
	margin: 10px 0px 10px 0px;
}

div.about p.about:first-child {
	margin-top: 0px;
}

.lead {
	border-bottom-color: rgb(203, 203, 203);
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	font-weight: 700;
	padding-bottom: 10px;
}

nav.path {
	display: block;
	width: 1000px;
	text-align: left;
	border: 0px solid black;
	margin: -45px auto 17px auto;
	float: none;
	z-index: 1;
}

.path a:link,.path a:visited {
	font-weight: bold;
}

a.path_end:link,a.path_end:visited {
	font-weight: normal;
	color: #3c9;
}

.clearfix {
	clear: both;
}
#filter_options {
	cursor: pointer;	
}
div.filter {
	position: absolute;
	z-index: 50;
	float: left;
	border: 0px solid red;	
}

.selectionOption {
	min-width: 150px;
	float: left;
	margin: 10px;
	padding: 0px;
	list-style-type: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: hidden;
}
.selectionOption p {
	border-top: 1px solid rgba(0,221,179,0.4);
	border-left: 1px solid rgba(0,221,179,0.4);
	border-right: 1px solid rgba(0,221,179,0.4);
	padding: 5px 5px;
	margin: 0px;
	background-color: #f5f5f5;
	font-weight: bold;
	height: 20px;	
	cursor: pointer;
	text-align: left;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.selectionOption:hover ul li {
	display: block;
}
.selectionOption:hover ul li:last-child {
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom: 1px solid rgba(0,221,179,0.4);
}

.selectionOption ul {
	margin: 0px;	
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.selectionOption li {
	background-color: #f5f5f5;
	display: none;
	list-style-type: none;
	padding: 4px;
	cursor: pointer;
	border-left: 1px solid rgba(0,221,179,0.4);
	border-right: 1px solid rgba(0,221,179,0.4);
}
.selectionOption li:hover {
	background-color: #000 !important;
	color: #fff;	
}
.selectionOption li.checked {
	display: block;
	background-color: #999;
	color: #fff;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom: 1px solid rgba(0,221,179,0.4);
}
.selectionOption:hover li.checked {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-bottom: 0px;
}

#rangeStart, #rangeEnd {
	width:45px;
	margin: 3px 0px;
}

table.applications {
	width: 100%;
	color: #eee;
	margin: 85px 0px 30px 0px;
	padding: 0px;
	border-collapse: collapse;
	border: 0px solid #28A279 !important;
}

table.applications tr {
	border: 3px solid #fff !important;
}

table.applications td {
	color: #000;
	padding: 5px;
	font-size: 12px;
}
tr.header th,tr td {
	border: 0px solid #fff;
	margin: 0px;
	padding: 0px;
}

tr.header th {
	background-color: rgba(0, 221, 179, 0.8);
	padding: 10px 2px !important;
	text-align: left;
	color: #000;
	font-weight: bold;
	font-size: 12px;
}
table.applications tr {
	background: rgba(245,245,245, 0.4);
}
table.applications tr.grey {
	background: rgba(240,240,240, 0.9);
}

td.username {
	font-size: 14px;
}

td.admin_column {
	border-left: 3px solid #fff;
	margin-bottom: 0px;
}

table.stats {
	width: 300px;
	margin: 10px 0px 30px 0px;
	border: 0px solid #3c9;
	border-collapse: collapse;
}
table.stats tr.header th {
	background-color: rgba(0, 221, 179, 0.9);
}
table.stats tr {
	margin: 5px;	
}
table.stats td, th.normal {
	margin: 5px;
	padding: 0px 3px 0px 3px;
	font-size: 11px;
	background: rgba(245, 245, 245, 0.5);
	border-left: 4px solid white;
	border-bottom: 4px solid white;
}
table.stats td:hover {
	background: rgba(225, 225, 225, 0.9);
}

.miniature {
	border: 1px solid #fff;
	padding: 2px;
	cursor: pointer;
}

div.application_votes {
	margin: 0px;
	padding: 0px;
	border: 0px solid yellow !important;
}

div.application_votes p{
	margin: 0px 0px;
	padding: 0px
	overflow: hidden;
	height: 22px;
	border: 0px solid yellow !important;
}

div.vote.application_data {
	border-bottom: 3px double rgba(0, 221, 179, 0.9);;
	padding: 0px 0px 10px 0px;	
	margin-top: 20px;
}
div.vote.application_data h3 {
	margin-bottom: 10px;
	padding-bottom: 0px;
	overflow: hidden;
}

p.votes {
	text-align: center;
}

span.vote {
	display: block;
	float: left;
	text-align: center;
	width: auto;
	height: 20px;
	line-height: 20px;
	background-color: #999;
	margin: 0px 2px;
	padding: 0px 8px;
	cursor: pointer;
	font-size: 10px;
}

span.vote:hover, span.admin_vote:hover {
	background-color: #ddd;
}

span.admin_vote {
	display: block;
	float: left;
	text-align: center;
	width: 18px;
	height: 18px;
	line-height: 18px;
	font-size: 10px;
	background-color: #999;
	margin: 0px 2px;
	cursor: pointer;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

span.juror_name {
	display: block;
	float: left;
	text-align: left;
	width: 90px; 
	height: 18x;
	line-height: 18px;
	font-size: 11px;
	margin: 0px;
	border: 0px solid yellow;
}

span.stage_choice {
	background: rgba(0,221,179,1);
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	line-height: 22px;
	margin: 0px 20px 0px 0px;
	padding: 0px 8px;
	display: block;
	float: left;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}
span.stage_choice.current {
	background: #000;
}

span.stage_choice:hover {
	background: rgba(10, 10, 10, 0.9);
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;	
}

span.voted {
	background-color: #e8b000;
}


span.vote_first {
	background-color: #da1c1e;
}

span.vote_1 {
	background-color: #f0b708;
}

span.vote_2 {
	background-color: #08a1ef;
}

span.vote_last {
	background-color: #03d419;
}

div.dispute {
	width: 27px;
	height: 23px;
	background-image: url('../img/simple/cloud-dark.png');
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff;
	text-align: center;
	cursor: pointer;
}
div.dispute.info {
	position: absolute;
	margin-left: 120px;
	margin-top: -20px;	
}
span.dispute {
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
}
span.dispute.info {
	font-size: 10px !important;
}
span.hint {
	background: #000;
	color: #fff;
	border: 1px solid #fff;
	display: block;
	padding: 3px 3px;
	position: absolute;
	box-shadow: 2px 2px 5px #888;
	font-size: 11px;
	text-align: left;
	line-height: 12px;
	min-width: 90px;
	display: none;
	margin-top: 15px;
	margin-left: 15px;
}

a.index_application_files:link, a.index_application_files:visited {
	display: block;
	float: left;
	border: 1px solid #3c9;
	width: 20px;
	height: 20px;
	margin: 3px;
	text-align: center;
	line-height: 24px;
	background: rgba(51, 204, 153, 0.1);
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
a.index_application_files:hover {
	background: rgba(51, 204, 153, 0.4);
}

.admin_button {
	display: none;
}
.ui-icon-checked {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #333;
	cursor: pointer;
}

#loader {
	display: none;
	margin: 0px;
	padding: 0px;
	width: 16px;
	height: 16px;
}
#loader-white {
	display: none;
	margin: 3px 0px 0px 0px;
	padding: 0px;
	width: 16px;
	height: 16px;
}


.captions p {
	width: 280px;
	border: 0px solid black;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 10px 0px 10px 0px;
}

.captions p:first-child {
	margin-top: 0px;
}

div.user {
	margin: 10px 0px 20px 0px;
}

div.user p {
	margin: 3px 0px 3px 0px;
}

div.caption {
	margin: 00px 0px 30px 0px;
	width: 400px;
}

div.caption p {
	margin: 5px;
}

div.caption h3 {
	cursor: pointer;
}

#jurors, #stages{
	width: 400px;
	min-height: 100px;
	float: left;
	border: 0px solid black;
}

#jurors p.list {
	margin: 0px 10px;
}


/*
  VOTING SETTINGS
*/
div.juror_user_box {
	float: left;
	width: auto;
	border: 1px solid rgba(0,221,179,1);
	margin: 5px;
	padding: 3px;
	background-color: rgba(0,221,179,0.05);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: move;
}

div.juror_user_box p {
	margin: 0px;	
	z-index: 50;
}
div.juror_user_box span.remove_user {
	font-weight: bold;
	margin: 0px 2px 0px 6px;
	cursor: pointer;	
}

div.juror_box {
	float: left;
	width: 300px;
	min-height: 100px;
	border: 0px solid rgba(0,221,179,0.5);
	margin: 0px 30px 20px 0px;	
}

div.juror_header .box_juror_name {
	background: rgb(0,221,179);	
	font-weight: bold;
	font-size: 16px;
	padding: 4px 10px;
	text-align: center;
	float: left;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
div.juror_header .box_juror_name a {
	
}

div.juror_data {
	border: 1px solid rgba(0,221,179,0.5);
	margin: 0px;
	min-height: inherit;
	overflow: visible;
}
.juror_box_area {
	background-color: rgba(0,221,179,0.1);	
}
.juror_box_area_hover {
	background-color: rgba(0,221,179,0.05);	
}

.ui-widget-content,.ui-widget-header {
	background-color: rgba(249, 249, 249, 1) !important;
	border: 1px solid rgba(0, 221, 179, 0.5) !important;
	background-image: none !important;
	color: #555 !important;
}

.ui-dialog-titlebar {
	margin-bottom: 5px;
}

.ui-icon {
	background-image: url("images/ui-icons_2cd9b9_256x240.png") !important;
}

.ui-icon-white {
	background-image: url("images/ui-icons_ffffff_256x240.png") !important;
}

.ui-state-default {
	border: 1px solid rgba(0, 221, 179, 0.5) !important;
	background-color: rgb(245, 245, 245) !important;
	background-image: none !important;
	color: #555 !important;
}

.ui-datepicker-calendar th {
	background-color: rgba(251, 251, 251, 0.1) !important;
}

.ui-datepicker-current-day a {
	color: #000 !important;
	background: rgba(205, 205, 205, 0.8) !important;
	font-weight: bold !important;
}

.ui-datepicker-next,.ui-datepicker-prev {
	border: 1px solid rgba(0, 221, 179, 0.5) !important;
}

.ui-button-text-only, .ui-button-text {
	font-size: 9px !important;
	padding: 5px !important;
	line-height: 14px !important;
	margin: 0px !important;
}
.ui-button {
	padding: 0px !important;
	margin: 3px 0px !important;
}

.ui-state-active {
	background: #999 !important;
	color: #fff !important;	
}

.no-block {
	display: inline !important;
}

.enable-sort {
	cursor: move;
}

.ui-autocomplete,.ui-corner-all {
	font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
	background: rgba(238, 238, 238, 0.5);
}

.ui-state-hover {
	border: 1px solid rgba(0, 221, 179, 0.3) !important;
	background: #000 !important;
	color: #fff !important;
}

.ir {
	display: block;
	text-indent: -999em;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}

.hidden {
	display: none;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,.clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

@media all and (orientation:portrait) {
}

@media all and (orientation:landscape) {
}

@media screen and (max-device-width: 480px) {
	/* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
	#main,.top-menu,.logo,footer,.path {
		padding-left: 10px;
	}
	.logo {
		margin-right: 0px;
	}
}

@media print {
	* {
		background: transparent !important;
		color: black !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}
	a,a:visited {
		color: #444 !important;
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	.ir a:after,a[href ^="javascript:"]:after,a[href ^="#"]:after {
		content: "";
	}
	pre,blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr,img {
		page-break-inside: avoid;
	}
	@page {
		margin: 0.5cm;
	}
	p,h2,h3 {
		orphans: 3;
		widows: 3;
	}
	h2,h3 {
		page-break-after: avoid;
	}
}