@CHARSET "UTF-8";
.diploma {
	text-align: left;
	margin-bottom: 30px;
	width: 220px;
	float: left;
	margin-right: 20px;
	padding: 5px;
	padding-bottom: 30px;
}

.dyplom,.application {
	display: block;
	float: left;
	width: 470px;
	margin-right: 30px;
	margin-left: 0px;
}
.diploma_gallery,.application_gallery {
	display: block;
	float: left;
	width: 470px;
	margin-right: 30px;
}

.diploma_gallery img, .application_gallery img {
	border: none;
	outline: none;
	width: 100%;
	margin-bottom: 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.diploma_gallery p.admin img, .application_gallery p.admin img {
	width: auto;
}

.diploma_field,.application_field {
	width: 95px;
	margin: 5px 30px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CCC;
	text-align: right;
	border: 0px solid;
}

.diploma_data,.application_data {
	scolor: #000;
	margin: 2px 0px 2px 125px;
	width: 345px;
	padding: 5px 0px 0px 0px;
}

.diploma_data:after {
	content: " ";
	height: 0px;
	display: block;
	clear: both;
}

.diploma_edition {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-style: normal;
	margin-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding: 0px 0px 6px 0px;
	font-weight: bold;
}

.work_desc {
	border-top-style: solid;
	border-top-width: 1px;
	display: block;
	margin: 6px 0px 0px 125px;
	padding-top: 6px;
	width: 345px;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(51, 51, 51);
	font-size: 12px;
	font-style: normal;
	font-weight: 100;
	line-height: 20px;
	margin-top: 10px;
}


.diploma_nav {
	height: 45px;
	margin: 27px 0px 0px 125px;
}

.diploma_nav a:first-child {
	margin-right: 27px;
}

.index_author {
	color: rgba(0, 0, 0, 0.898);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 700;
	margin-bottom: 0px;
}

.index_author a {
	border-bottom: solid 2px transparent;
	-webkit-transition: background-color 300ms;
	-moz-transition: background-color 300ms;
	-o-transition: background-color 300ms;
}

.index_author a:hover {
	-webkit-transition: background-color 300ms;
	-moz-transition: background-color 300ms;
	-o-transition: background-color 300ms;
}

.author {
	color: rgba(0, 0, 0, 0.898);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	margin-bottom: 0px;
}

.country {
	font-size: 14px;
	font-weight: 400;
}


form.diploma {
	text-align: left;
	margin-bottom: 30px;
	padding-bottom: 30px;
	width: 100%;
	border: 0px solid red;
	margin-right: 30px;
}

form.diploma #diplomaFormLeft {
	float: left;
	border: 0px solid green;
	margin-top: 43px;
}
form.diploma #diplomaFormRight {
	float: right;
	border: 0px solid blue;
}

.removeProjectImage {
	position: absolute;
	margin: 0px 0px 0px 436px;
	background: #fff;
	width: auto;
	overflow: hidden;
	height: 17px;
}
